body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.tekstblok {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

p {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 20px;
}

.menubalk {
    background-color: #FFFFFF;
    box-shadow: 0.3em 0.06em 0.3em grey;
    color: black;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 500;
    display: flex;
    height: 4.5em;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.menubalk > a > img {
    width: 107px;
    margin: 1em;
}

.menubalk > nav > ul > li > a {
    color: black;
    text-decoration: none;
}

.menubalk > nav > ul > li > a:hover {
    color: #7bbe3a;
}

.linkkleur {
    color: #7bbe3a !important;
}

.menubalk > nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 1em 1em 1em;
    padding: 0.6em;
}

.menubalk > nav > ul > li {
    height: 2em;
    margin-left: 1.5em;
    text-decoration: none;
    color: black;
}


.calltoaction {
    background-image: url(../images/wood.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 20% 5% 5%;
    margin-top: 70px;
    height: 100px;
}

h1 {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 2em;
    margin: 70px 0px;
    text-shadow: 2px 2px 5px black;

}


section > article > header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 0;
    width: auto;
    height: 150px;
}

.detectie > header {
    background-image: url(../images/detectie.jpg);
}

.kaartje > header {
    background-image: url(../images/kaartje.png);
}

.talisman > header {
    background-image: url(../images/talisman.jpg);
}

.diazepam > header {
    background-image: url(../images/diazepam.jpg);
}

.clonazepam > header {
    background-image: url(../images/clonazpam.png);
}

.midazolam > header {
    background-image: url(../images/midazolam.jpeg);
}

.lorazepam > header {
    background-image: url(../images/lorazepam.jpg);
}


h2 {
    font-size: 1.17em;
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    margin: 20px;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px black;
}


section > article > ul {
    font-family: Verdana, Helvetica, sans-serif;
    width: 80%;
}

.hulpmiddelen {
    margin-top: 20px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 33.3% 33.3% 33.3%;

}

.hulpmiddelen > article {
    color: black;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #F5F5F5;
    width: auto;
    margin: 1em;
}

.hulpmiddelen > a {
    font-family: Montserrat, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    background-color: #7bbe3a;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}

/* Footer */

footer {
    background-color: white;
}

h6 {
    font-size: 1.1em;
    font-family: Montserrat, Helvetica, sans-serif;
    color: black;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer > section > article > p {
    color: black;
    padding: 0;
    margin: 0;
}

footer > section {
    margin-top: 20px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 0;
}

footer > section > article {
    width: auto;
    margin: 1em;
}

footer > section > article > ul {
    padding: 0;
}

footer > section > article > ul > li {
    list-style: none;
}

footer > section > article > ul > li > a {
    color: #c10a2D;
    list-style: none;
    font-family: Montserrat, Helvetica, sans-serif;
}


/* Nieuwsbrief aanmelden */

.aanmeldform {
    padding: 10px 2px;
    border-radius: 10px;
    width: 98%;
    border: 1px solid #d4d4d4;
}

label {
    font-family: Verdana, Montserrat, Helvetica, sans-serif;
    font-size: 1em;
}

.nieuwsbrief > form > fieldset > ul > li {
    list-style: none;
    padding-bottom: 10px;
}

.nieuwsbrief > form > fieldset {
    border-style: none;
    padding-left: 0;
    padding-top: 0;
}

.nieuwsbrief > form > fieldset > ul {
    padding: 0;
    margin: 0;
}

#aanmelden {
    width: 40%;
    font-family: Verdana, Montserrat, Helvetica, sans-serif;
    padding: 10px;
    background-color: #7bbe3a;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}
